.title-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px 8px 8px 8px;
  background-color: #bacee0;
}

.title-wrap__left {
  display: flex;
}
.title-left__profile__wrap {
  display: flex;
  width: 40px;
  height: 40px;
  flex-wrap: wrap;
}

.title-left__profile__wrap img {
  width: 46%;
  height: 46%;
  margin: 2%;

  border-radius: 5px;
}

.title-left__info__wrap {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  justify-content: center;
}
.title-left__people-info {
  display: flex;
  align-items: center;
  padding-top: 4px;
}

.title-left__people-info img {
  height: 14px;
  margin-right: 4px;
}

.title-wrap__right {
  display: flex;
  align-items: center;
  height: 40px;
}

.title-wrap__right img {
  padding-right: 8px;
}
