.talkProfile {
  display: flex;
  height: 70px;
  align-items: center;

  position: relative;
  margin-right: 8px;
  padding: 0px 32px;
}

.talkProfile:focus {
  background-color: #f2f2f2;
}

.talkProfile:hover {
  background-color: #f8f8f8;
}

.talkProfile__img {
  height: 48px;
  width: 48px;
  border-radius: 16px;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.talkProfile__contents {
  margin-left: 12px;
}

.talkProfile__contents__name {
  font-size: 12px;
  font-weight: bold;
  margin: 4px 4px 8px 4px;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.talkProfile__name__status {
  font-size: 12px;
  color: #909090;
  margin: 4px;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.talkProfile__Date {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0px, -100px);

  font-size: 12px;
  color: #bfbfbf;
}
